<div class="container">
  <div
    *ngIf="sidebarPosition() as position"
    class="sidebar-container"
    [style.left]="position.left + 'px'"
    [style.top]="position.top + 'px'">
    <input #fileUpload [style.display]="'none'" type="file" (change)="onFileUpload($event)">
    <div class="side-button__groups" [class.displayed]="sidebarOpen()">
      <button class="side-button" matTooltip="Image" (click)="addImage()">
        <mat-icon>image</mat-icon>
      </button>
    </div>
    <button
      class="side-button toggle-btn"
      [class.opened]="sidebarOpen()"
      (click)="toggleSideBar()"
      [matTooltip]="sidebarOpen() ? 'Cancel' : 'Add'"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <quill-editor
    #editor
    class="editor"
    (onEditorChanged)="onEditorChange($event)"
    (onContentChanged)="onContentChanged($event)"
    (onEditorCreated)="onEditorCreated()"
    (onSelectionChanged)="onSelectionChanged($event)"
    theme="bubble"
    placeholder="Start writing something awesome..."
  >
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-italic"></button>
        <button class="ql-bold"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-align">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <select class="ql-header">
          <option selected></option>
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
          <option value="5"></option>
          <option value="6"></option>
        </select>
      </span>
      <span class="ql-formats">
        <select class="ql-size">
          <option selected></option>
          <option value="small"></option>
          <option value="large"></option>
          <option value="huge"></option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-link"></button>
        <button class="ql-image"></button>
      </span>
      <span *ngIf="{ mode: toolBarMode() } as vm" class="ql-formats">
        <button
          [disabled]="vm.mode !== 'figure'"
          class="figure-size"
          (click)="onFigureSizeChange('small')"
        >
          <mat-icon>photo_size_select_small</mat-icon>
        </button>
        <button
          [disabled]="vm.mode !== 'figure'"
          class="figure-size"
          (click)="onFigureSizeChange('large')"
        >
          <mat-icon>photo_size_select_large</mat-icon>
        </button>
        <button
          [disabled]="vm.mode !== 'figure'"
          class="figure-size"
          (click)="onFigureSizeChange('full')"
        >
          <mat-icon>photo_size_select_actual</mat-icon>
        </button>
      </span>
    </div>
  </quill-editor>
</div>