.ql-caption {
  text-align: center;
  color: #1c1c1c;
}

.ql-editor[contenteditable="true"] {
  .ql-figure {
    .ql-resize-container {
      position: absolute;
      opacity: 1;
      border: 1px dashed #ccc;
      cursor: pointer;

      &.active {
        display: block;
      }
  
      .ql-resize-anchor {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        cursor: pointer;
  
        &.top-left {
          top: -5px;
          left: -5px;
          cursor: nw-resize;
        }
  
        &.top-right {
          top: -5px;
          right: -5px;
          cursor: ne-resize;
        }
  
        &.bottom-left {
          bottom: -5px;
          left: -5px;
          cursor: sw-resize;
        }
  
        &.bottom-right {
          bottom: -5px;
          right: -5px;
          cursor: se-resize;
        }
      }
    }
  }
}

.ql-figure {
  position: relative;

  & > img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .ql-resize-container {
    display: none;
  }
}